<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test thread-count="5" name="chromeTest">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="xml_to_excel_data_provider_excel.Base_script3" />
			<class name="xml_to_excel_data_provider_excel.BASE_script" />
			<class name="xml_to_excel_data_provider_excel.Base_script2" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="firefoxTest">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="xml_to_excel_data_provider_excel.Base_script3" />
			<class name="xml_to_excel_data_provider_excel.BASE_script" />
			<class name="xml_to_excel_data_provider_excel.Base_script2" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="edgeTest">
		<parameter name="browser" value="edge"></parameter>
		<classes>
			<class name="xml_to_excel_data_provider_excel.Base_script3" />
			<class name="xml_to_excel_data_provider_excel.BASE_script" />
			<class name="xml_to_excel_data_provider_excel.Base_script2" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
