<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="elf_5_test_script.goiabibi"/>
      <class name="elf_5_test_script.flipkart"/>
      <class name="elf_5_test_script.flipkart3"/>
      <class name="elf_5_test_script.ncrt"/>
      <class name="elf_5_test_script.flipkart2"/>
      <class name="elf_5_test_script.passport_dot_seva"/>
      <class name="elf_5_test_script.allibaba"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
